p {
	font-family: Arial;
	margin-top: 0;
	margin-bottom: 0;
}

.google-text-title{
	font-weight: bold;
	font-size: 18px;
	width: 280px;
	line-height: 24px;
	margin-bottom: 2px;
	margin-top: 64px;
}

.google-text-stats {
	font-size: 14px;
	color: rgb(96, 96, 96);
	margin-bottom: 16px;
}

.google-text-author {
	font-size: 14px;
	color: rgb(96, 96, 96);
	margin-bottom: 16px;
}

.google-text {
	font-size: 14px;
	color: rgb(96, 96, 96);
	width: 270px;
	line-height: 20px;
	margin-bottom: 100px;
}

.apple-text {
	font-size: 14px;
	background-color: rgb(227, 65, 64);
	color: white;
	padding: 16px;
	border: none;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 16px;
}

.shop-now:hover {
	text-decoration: underline;
	cursor: pointer;
}

.multiple-spaces{
	margin-left: 16px;
}
